
.Top input[type=text]{
    float: left;
    padding: 6px;
    border: none;
    margin-top:1%;
    margin-left:42%;
    font-size: 17px;
}
.center{
    position:absolute;
    display:block;
    height:100px;
    width:50%;
    left:40%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
    line-height: 100px;
    font-size: 20px;
}

.images{
    margin-top: 10%;
    float:left;
}


.main{
    min-height: 100%;
    min-width: 100%;

}
#right-side{
    float: right;
    background-color:rgb(193, 225, 193);
    margin-top: 7%;
    min-height: 100%;
    max-height: 100%;
    max-width: 45%;
    min-width: 45%;
    font: "Noto-Sans", Tahoma, sans-serif;
    font-size: 1.625rem;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-radius: 25px;

}
.product{
    margin-top: 7%;
    position:absolute;
    float:left;
    min-height: 100%;
    max-height: 100%;
    min-width: 50%;
    max-width: 50%;
    text-align: center;
}

.description{
    min-height: 100%;
    min-width: 50%;

}
.price{
    margin-top: 45%;
    line-height: 100%;
    min-height: 200%;

}
.order-details{
    float: right;
    min-height: 40%px;
    min-width: 60%;
    line-height: 400px;
    text-align: center;
    background-color: purple;
}

.bottom-right{
    float: right;
    min-height: 180px;
    width: 54.5%;
    padding-left: 2%;
    font: "Noto-Sans", Tahoma, sans-serif;
    font-size: 1.625rem;
    background-color: darkgray;
}
#right-side2{
    float: right;
    background-color:rgb(237, 84, 112);
    margin-top: 7%;
    min-height: 100%;
    max-height: 100%;
    max-width: 45%;
    min-width: 45%;
    font: "Noto-Sans", Tahoma, sans-serif;
    font-size: 1.625rem;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-radius: 25px;

}


.top-right{
    margin-top: 5%;
    float: right;
    padding-left: 2%;
    min-height: 700px;
    width: 52%;
    font: Arial;
    font-size: 1.625rem;
    background-color: black;
    border-radius: 1%;
    color: gainsboro;
}
.playstation{
    margin-top: 5%;
    position:absolute;
    float:left;
    min-height: 50%;
    max-height: 100%;
    width: 47%;
    text-align: center;
    border-radius: 4%;
}