
.Top input[type=text]{
    float: left;
    padding: 6px;
    border: none;
    margin-top:1%;
    margin-left:42%;
    font-size: 17px;
}
.center{
    position:absolute;
    display:block;
    height:100px;
    width:50%;
    left:40%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
    line-height: 100px;
    font-size: 20px;
}

.images{
    margin-top: 10%;
    float:left;
}

.product{
    position:absolute;
    float:left;
    min-height: 100%;
    max-height: 100%;
    min-width: 40%;
    background-color: blue;
    line-height:500px; 
    text-align: center;
}

.price{
    float: right;
    min-height: 20%;
    min-width: 60%;
    max-width: 60%;
    line-height: 100px;
    text-align: center;
    background-color: yellowgreen;

}

.description{
    float: right;
    min-height: 40%;
    min-width: 60%;
    line-height: 400px;
    text-align: center;
    background-color: green;

}

.order-details{
    float: right;
    min-height: 40%px;
    min-width: 60%;
    line-height: 400px;
    text-align: center;
    background-color: purple;

}

