*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-left: 0%;
    
}
.sidebar{
    background-color: rgb(230, 18, 18);
    padding-left: 2%;
    padding-right: 2%;
    padding-top:75px;
    min-height:60.09em;
    min-width: 8%;
    float: left;
}
.Top{
    position:absolute;top:0;
    background-color:rgb(80, 200, 120);
    width: 100%;
    height: 8%;
    line-height: 40px;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: darkblue;
    text-decoration: none;
}
a:active{
    color: darkblue;
    text-decoration: none;
}


td{
    text-align: center;
    font-weight: bold;
}

.top2{
    position:absolute;top:0;
    background-color: black;
    width: 100%;
    height: 8%;
    line-height: 40px;
}

.main-div{
    height: 100%;
    width: 100%;
}
.top2{
    position:absolute;top:0;
    background-color: black;
    width: 100%;
    height: 8%;
    line-height: 40px;
}
hr{
    padding: 0%;
}


