*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-left: 0%;
}
.sidebar{
    padding-top:75px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: lightblue;
    min-height:60.09em;
    min-width: 8%;
    float: left;
}
.Top{
    background-color: grey;
    position:absolute;top:0;
    width: 100%;
    height: 8%;
    line-height: 40px;
}
th{
    color: white;
    background-color: black;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: darkblue;
    text-decoration: none;
}
a:active{
    color: darkblue;
    text-decoration: none;
}